:root{
--parchment: #ebf0d2;
--tea-green: #DDE5B6;
--olive: #ADC178;
--chamoisee: #A98467;
--umber: #6C584C;
--dark-brown: #3d3028;
--white: #ffffff;

display: grid;
grid-template-rows: minmax(60px, auto) minmax(0, 100%);
height: 100%;
}

body {
    background-color: var(--parchment)
}
.textboxDiv{
    justify-content: center;
    display: flex;
    align-items: center;
    padding-left: 44%;
    padding-right: 50%;
    padding-top: 20px;

}

.textboxDiv > input {
    align-content: center;
    color: var(--dark-brown, green);
    background-color: var(--chamoisee);
    padding: 20px;
    padding-left: 10px;
    padding-right: 100px;
    padding-top: -10px;
    padding-bottom: -100px;
    border-radius: 20px;
    font-size: 20px;
    text-align: left;
    border: 2px solid rgb(36, 36, 36);

}

::placeholder {
    color: var(--umber);
}

.textboxDiv > button {
    background-color: var(--chamoisee);
    color: var(--dark-brown, green);
    margin: -50px;
    border-radius: 70px;
    padding: 12px;
    border-left: 200px;
    font-size: 19px;
    cursor: pointer;
    border: 2px solid rgb(36, 36, 36);
}

.textboxDiv > button:active {
    background-color: var(--umber);
}

#mainRecipeName{
    align-content: center;
    padding-bottom: -20px;
    text-align: center;
    font-size: 90px;
    margin-top: -10px;
}

#mainRecipeName > h1 {
  color: black;
}

.textboxDiv > button:disabled {
    background-color: var(--outer-space);
}
#mainRecipeTime{

}

#mainRecipeNutrition{

}

.nutritionItem{

}

.flexContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#box1{
    width: 50%;
}

#box2{
    width: 50%;
}

#mainRecipeDescription{
    background-color: var(--tea-green);
    margin-top: -10px;
    padding-bottom: 200px;
    margin-right: 10px;
    border-radius: 10px;
}

#mainRecipeDescription > p{
    padding-left: 10px;
    padding-top: 10px;
}

#mainRecipeIngredients{
    margin-bottom: px;
    background-color: var(--tea-green);
    margin-top: -10px;
    padding-bottom: 200px   ;
    border-radius: 10px;
}

.mainRecipeIngredientItem > p{
    padding-left: 10px;
    padding-top: 10px;
}

.recipeIngredients{

}

#mainRecipeInstructions{
    background-color: var(--tea-green);
    border-radius: 10px;
    padding-bottom: 230px;

}

#instructionsHeader{
    padding-top: 5%;
    justify-content: center;
}

.recipeInstructions{
    background-color: var(--olive);
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 10px;
}



.recipeInstructions > p{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 130%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.instructionStep {
    font-weight: bold;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
}

.recipeTime{
    text-align: center;
    margin-top: -50px;
    margin-left: -140px;
}

#mainRecipeCal{
    text-align: center;
    margin-top: -33px;
    margin-left: 55px;
}

.options{
    padding-left: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    display: flex;
    background-color: var(--tea-green);
}

.options > input{
    background-color: var(--chamoisee);
}

.options > button {
    margin-left: 5px;
}

#bookmarkBar {
    width: 19%;
    position: sticky;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: var(--olive);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 20px;
    height: 98vh;
    overflow-y: scroll;
}

#bookmarkBar::-webkit-scrollbar {
    display: none;
}

.recipeBody {
    max-height: 82vh;
    overflow-y: scroll;
}

.recipeBody::-webkit-scrollbar {
    display: none;
}

.mainRecipePage {
    width: 80%;
    padding-left: 0.6%;
    transition: 0.5s;
    display: inline-block;
}

#bookmarkBar > h2 {
    position: absolute;
}

#closeBtn {
    padding-left: 80%;
    padding-top: -300px;
    font-size: 150%;
    top: 0;
}

.savedRecipe {
    text-align: center;
    padding-right: 30px;
    font-size: 160%;
    color: black;
}

#wholePage {
    display: flex;
}

.userPreferences{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    border-radius: 25px;
    padding: 20px;
    width: 70%;
    height: 60%;
    overflow-y: scroll;
}

.userPreferences::-webkit-scrollbar {
    display: none;
}

#closeButton {
    position: sticky;
    top: 8px;
    right: 10px;
    font-size: 20px;
    color: var(--dark-gray);
    background: none;
    border: none;
}

#closeButton:hover {
    color: red;
}

.allergenItem{
    margin-bottom: 2%;
}

.restrictionItem{
    margin-bottom: 2%;
}

.bookmarkRecipe{
    display: flex;
    align-items: center;
    margin-right: 10%;
    
}

.deleteBookmark{
    background-color: var(--olive);
    font-size: 150%;
    border: none;
}

.deleteBookmark:hover{
    color: red;
}

#allergensHeader{
    
}

#mainRecipeName{

}


#nutritionsContainer{
    color: var(--olive);
    padding: 10%;
}





#ingredientsContainer {

}



