<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="../static/style.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="PLACEHOLDER_forBookMark">

</div>
<div class="recipeBody">
    <h1 id="recipeName">Burger</h1>
    <p id="recipeTime">1 hour</p>
    <p id="recipeCal">1000 calories</p>
    <img src="../static/pngtree-vegan-friendly-label-png-png-image_5698160.png">
    <img src="">
    
    
</div>
<div class="textboxDiv">
    <input placeholder="Start making recipes!" >
    <button>hi</button>
</div>

</body>
</html>