<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="../static/style.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="PLACEHOLDER_forBookMark">

</div>
<div class="options">
    <input id="restrictionsPrompt" placeholder="Dietary restrictions here!">
    <button>settings</button>
</div>
<div class="recipeBody">
    <h1 id="recipeName">Burger</h1>
    <p id="recipeTime">1 hour</p>
    <p id="recipeCal">1000 calories</p>
    <!-- <img src="../static/pngtree-vegan-friendly-label-png-png-image_5698160.png"> -->
    <!-- <img src="../statc/gluten-free-logo-png_seeklogo-530821.png"> -->
    <button>Nutrition List</button>
    <button>Ingredients</button>


</div>
<div class="textboxDiv">
    <input id="foodPrompt" placeholder="Start making recipes!" >
    <button onclick="createRecipe()">hi</button>
</div>

</body>

<script>

    pywebview.api.init();

    async function createRecipe(){
        let foodRecipe = document.getElementById("foodPrompt").value
        console.log(foodRecipe)
        let restrictions = document.getElementById("restrictionsPrompt").value
        console.log(restrictions)
        let recipe = await pywebview.api.create_recipe(foodRecipe, restrictions);
        if(recipe){
            console.log(recipe)

            // document.getElementById("recipeName").value= "JFERIOJFERIOJ"



        }
    }

</script>
</html>